@import url("https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* The 'overflow-y: scroll'  property is used to ensure that the vertical scrollbar is always visible,
  regardless of whether the content actually requires scrolling or not. This prevents layout shifts
  By reserving space for the scrollbar at all times, we maintain a consistent layout and avoid sudden changes in the 
  appearance of the page */
html {
  overflow-y: scroll;
}

/* React Multi Date Picker Styles */

/* Since there is not a way to make custom styles for this popup component, 
   we need to re-rwite some of them */

/* For arrows to change between months */

.rmdp-day:not(.rmdp-disabled, .rmdp-day-hidden) span:hover {
  background-color: #33b8ad !important;
}

.rmdp-arrow {
  border-color: #33b8ad !important;
}

.rmdp-arrow-container:hover {
  background-color: #33b8ad !important;
}

.rmdp-arrow-container:hover i {
  border-color: white !important;
}

/* For selected range of days */

.rmdp-range {
  background-color: #ccedeb !important;
  box-shadow: none !important;
  color: #33b8ad !important;
}

/* For every day */

.rmdp-week-day {
  color: #33b8ad !important;
}

/* For today span */
.rmdp-today span {
  background-color: #33b8ad !important;
}

@layer components {
  .genericHambugerLine {
    @apply my-1 h-[2px] w-7 transform rounded-full transition;
  }
}
